.container1{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: #ffffff;
    padding-bottom: 30px;
    width: 600px;
    border-radius: 20px;

}

.header1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 10px;
    width: 100%;
    margin-top: 20px;
}

.text1{
    color: rgb(0, 17, 255);
    font-size: 50px;
    font-family:'Lucida Sans';
    font-weight: 500;
}

.inputs1{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.input1{
    display: flex;
    align-items: center;
    margin: auto;
    width: 450;
    height: 100;
    background-color: rgb(207, 217, 224);
    border-radius: 8px;
}

.input1 input{
    height: 50px;
    width: 500px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 20px;

}


.submit-container1{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: #fff;
    background: #1100ff;
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
    border-radius: 60px;
}

.submit2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: #fff;
    background: #444446;
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
    border-radius: 60px;
}

.form-control{
    display: flex;
    align-items: center;
    margin: auto;
    width: 450;
    height: 100;
    background-color: rgb(207, 217, 224);
    border-radius: 8px;

}